<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Kelas Fardu Ain</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-table text-dark"></i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark">
                  Kelas, Kursus, dan Program
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">Kelas</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-primary">
          <h3 class="m-0 text-white">Kalendar</h3>
        </div>
        <div class="card-body">
          <div class="card card-calendar">
            <div class="card-header">
              <div class="row">
                <div class="col-6">
                  <h5 class="h3 mb-0">{{ today }}</h5>
                </div>
                <div class="col-6">
                  <div
                    class="col d-flex align-items-baseline justify-content-end"
                  >
                    <a
                      class="fullcalendar-btn-prev btn btn-sm btn-neutral"
                      href="javascript:void(0)"
                      (click)="calendar.next()"
                    >
                      <i class="fas fa-angle-left"> </i>
                    </a>

                    <a
                      class="fullcalendar-btn-next btn btn-sm btn-neutral"
                      href="javascript:void(0)"
                      (click)="calendar.prev()"
                    >
                      <i class="fas fa-angle-right"> </i>
                    </a>

                    <a
                      class="btn btn-sm btn-neutral"
                      data-calendar-view="month"
                      href="javascript:void(0)"
                      (click)="changeView('dayGridMonth')"
                    >
                      Month
                    </a>

                    <a
                      class="btn btn-sm btn-neutral"
                      data-calendar-view="basicWeek"
                      href="javascript:void(0)"
                      (click)="changeView('dayGridWeek')"
                    >
                      Week
                    </a>

                    <a
                      class="btn btn-sm btn-neutral"
                      data-calendar-view="basicDay"
                      href="javascript:void(0)"
                      (click)="changeView('dayGridDay')"
                    >
                      Day
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body p-0">
              <div class="calendar" data-toggle="calendar" id="calendar1"></div>
            </div>
          </div>

          <div
            aria-hidden="true"
            aria-labelledby="new-event-label"
            class="modal fade"
            id="new-event"
            role="dialog"
            tabindex="-1"
          >
            <div
              class="modal-dialog modal-dialog-centered modal-secondary"
              role="document"
            >
              <ng-template #modalAdd>
                <div class="modal-body">
                  <form class="new-event--form">
                    <div class="form-group">
                      <label class="form-control-label"> Event title </label>

                      <input
                        class="form-control form-control-alternative new-event--title"
                        id="new-event--title"
                        placeholder="Event Title"
                        type="text"
                        (change)="getNewEventTitle($event)"
                      />
                    </div>

                    <div class="form-group mb-0">
                      <label class="form-control-label d-block mb-3">
                        Status color
                      </label>

                      <div
                        class="btn-group btn-group-toggle btn-group-colors event-tag"
                        data-toggle="buttons"
                      >
                        <label
                          class="btn bg-info"
                          [ngClass]="{ active: radios === 'bg-info' }"
                        >
                          <input
                            autocomplete="off"
                            checked="checked"
                            name="event-tag"
                            type="radio"
                            value="bg-info"
                            (click)="radios = 'bg-info'"
                          />
                        </label>

                        <label
                          class="btn bg-warning"
                          [ngClass]="{ active: radios === 'bg-warning' }"
                        >
                          <input
                            autocomplete="off"
                            name="event-tag"
                            type="radio"
                            value="bg-warning"
                            (click)="radios = 'bg-warning'"
                          />
                        </label>

                        <label
                          class="btn bg-danger"
                          [ngClass]="{ active: radios === 'bg-danger' }"
                        >
                          <input
                            autocomplete="off"
                            name="event-tag"
                            type="radio"
                            value="bg-danger"
                            (click)="radios = 'bg-danger'"
                          />
                        </label>

                        <label
                          class="btn bg-success"
                          [ngClass]="{ active: radios === 'bg-success' }"
                        >
                          <input
                            autocomplete="off"
                            name="event-tag"
                            type="radio"
                            value="bg-success"
                            (click)="radios = 'bg-success'"
                          />
                        </label>

                        <label
                          class="btn bg-default"
                          [ngClass]="{ active: radios === 'bg-default' }"
                        >
                          <input
                            autocomplete="off"
                            name="event-tag"
                            type="radio"
                            value="bg-default"
                            (click)="radios = 'bg-default'"
                          />
                        </label>

                        <label
                          class="btn bg-primary"
                          [ngClass]="{ active: radios === 'bg-primary' }"
                        >
                          <input
                            autocomplete="off"
                            name="event-tag"
                            type="radio"
                            value="bg-primary"
                            (click)="radios = 'bg-primary'"
                          />
                        </label>
                      </div>
                    </div>

                    <input class="new-event--start" type="hidden" />

                    <input class="new-event--end" type="hidden" />
                  </form>
                </div>

                <div class="modal-footer">
                  <button
                    class="btn btn-primary new-event--add"
                    type="submit"
                    (click)="addNewEvent()"
                  >
                    Add event
                  </button>

                  <button
                    (click)="addModal.hide()"
                    class="btn btn-link ml-auto"
                    data-dismiss="modal"
                    type="button"
                  >
                    Close
                  </button>
                </div>
              </ng-template>
            </div>
          </div>

          <div
            aria-hidden="true"
            aria-labelledby="edit-event-label"
            class="modal fade"
            id="edit-event"
            role="dialog"
            tabindex="-1"
          >
            <div
              class="modal-dialog modal-dialog-centered modal-secondary"
              role="document"
            >
              <ng-template #modalEdit>
                <div class="modal-body">
                  <form class="edit-event--form">
                    <div class="form-group">
                      <label class="form-control-label"> Event title </label>

                      <input
                        class="form-control form-control-alternative edit-event--title"
                        placeholder="Event Title"
                        type="text"
                        value="{{ eventTitle }}"
                        (change)="getNewEventTitle($event)"
                      />
                    </div>

                    <div class="form-group">
                      <label class="form-control-label d-block mb-3">
                        Status color
                      </label>

                      <div
                        class="btn-group btn-group-toggle btn-group-colors event-tag mb-0"
                        data-toggle="buttons"
                      >
                        <label
                          class="btn bg-info"
                          [ngClass]="{ active: radios === 'bg-info' }"
                        >
                          <input
                            autocomplete="off"
                            checked="checked"
                            name="event-tag"
                            type="radio"
                            value="bg-info"
                            (click)="radios = 'bg-info'"
                          />
                        </label>

                        <label
                          class="btn bg-warning"
                          [ngClass]="{ active: radios === 'bg-warning' }"
                        >
                          <input
                            autocomplete="off"
                            name="event-tag"
                            type="radio"
                            value="bg-warning"
                            (click)="radios = 'bg-warning'"
                          />
                        </label>

                        <label
                          class="btn bg-danger"
                          [ngClass]="{ active: radios === 'bg-danger' }"
                        >
                          <input
                            autocomplete="off"
                            name="event-tag"
                            type="radio"
                            value="bg-danger"
                            (click)="radios = 'bg-danger'"
                          />
                        </label>

                        <label
                          class="btn bg-success"
                          [ngClass]="{ active: radios === 'bg-success' }"
                        >
                          <input
                            autocomplete="off"
                            name="event-tag"
                            type="radio"
                            value="bg-success"
                            (click)="radios = 'bg-success'"
                          />
                        </label>

                        <label
                          class="btn bg-default"
                          [ngClass]="{ active: radios === 'bg-default' }"
                        >
                          <input
                            autocomplete="off"
                            name="event-tag"
                            type="radio"
                            value="bg-default"
                            (click)="radios = 'bg-default'"
                          />
                        </label>

                        <label
                          class="btn bg-primary"
                          [ngClass]="{ active: radios === 'bg-primary' }"
                        >
                          <input
                            autocomplete="off"
                            name="event-tag"
                            type="radio"
                            value="bg-primary"
                            (click)="radios = 'bg-primary'"
                          />
                        </label>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-control-label"> Description </label>

                      <textarea
                        class="form-control form-control-alternative edit-event--description textarea-autosize"
                        placeholder="Event Desctiption"
                        value="{{ eventDescription }}"
                        (change)="getNewEventDescription($event)"
                      ></textarea>

                      <i class="form-group--bar"> </i>
                    </div>

                    <input class="edit-event--id" type="hidden" />
                  </form>
                </div>

                <div class="modal-footer">
                  <button
                    class="btn btn-primary"
                    data-calendar="update"
                    (click)="updateEvent()"
                  >
                    Update
                  </button>

                  <button
                    class="btn btn-danger"
                    data-calendar="delete"
                    (click)="deleteEventSweetAlert()"
                  >
                    Delete
                  </button>

                  <button
                    class="btn btn-link ml-auto"
                    data-dismiss="modal"
                    (click)="editModal.hide()"
                  >
                    Close
                  </button>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-header bg-primary">
          <h3 class="m-0 text-white">Kemajuan sesi KKP</h3>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush list my--3">
            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/theme/bootstrap.jpg"
                    />
                  </a>
                </div>

                <div class="col">
                  <h5>Argon Design System</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="warning" [value]="60"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/theme/angular.jpg"
                    />
                  </a>
                </div>

                <div class="col">
                  <h5>Angular Now UI Kit PRO</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="success" [value]="100"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/theme/sketch.jpg"
                    />
                  </a>
                </div>

                <div class="col">
                  <h5>Black Dashboard</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="danger" [value]="72"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/theme/react.jpg"
                    />
                  </a>
                </div>

                <div class="col">
                  <h5>React Material Dashboard</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="info" [value]="90"> </progressbar>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-header bg-primary">
          <h3 class="m-0 text-white">KKP terdekat</h3>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush" data-toggle="checklist">
            <li
              class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class="checklist-item checklist-item-success">
                <div class="checklist-info">
                  <h5 class="checklist-title mb-0">Call with Dave</h5>

                  <small> 10:30 AM </small>
                </div>
              </div>
            </li>

            <li
              class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class="checklist-item checklist-item-warning">
                <div class="checklist-info">
                  <h5 class="checklist-title mb-0">Lunch meeting</h5>

                  <small> 10:30 AM </small>
                </div>
              </div>
            </li>

            <li
              class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class="checklist-item checklist-item-info">
                <div class="checklist-info">
                  <h5 class="checklist-title mb-0">Argon Dashboard Launch</h5>

                  <small> 10:30 AM </small>
                </div>
              </div>
            </li>

            <li
              class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class="checklist-item checklist-item-danger">
                <div class="checklist-info">
                  <h5 class="checklist-title mb-0">Winter Hackaton</h5>

                  <small> 10:30 AM </small>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-primary">
          <h3 class="m-0 text-white">Senarai Kelas Fardu Ain</h3>
        </div>
        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="25" [selected]="entries == 25">25</option>
                      <option value="50" [selected]="entries == 50">50</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    entries
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Nama Kelas</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.name }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Tarikh</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.position }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Tempat</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.office }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Status Permohonan</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span
                    *ngIf="row.is_active == 'Active'"
                    class="badge badge-pill badge-success"
                    >Diterima</span
                  >
                  <span
                    *ngIf="row.is_active == 'Inactive'"
                    class="badge badge-pill badge-warning"
                    >Ditolak</span
                  >
                  <span
                    *ngIf="row.is_active == 'Pending'"
                    class="badge badge-pill badge-primary"
                    >Perlu Pengesahan</span
                  >
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>View/Edit</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a
                    class="btn btn-sm btn-neutral"
                    (click)="openModal(kkp_gpam)"
                  >
                    <i class="fas fa-edit text-dark"></i>
                  </a>
                  <a class="btn btn-sm btn-success">
                    <i class="fas fa-check text-white"></i>
                  </a>
                  <a class="btn btn-sm btn-warning">
                    <i class="fas fa-ban text-white"></i>
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<ng-template #kkp_gpam>
  <div class="modal-header bg-white">
    <h6 class="modal-title text-default my-auto" id="modal-title-default">
      Kelas Fardu Ain
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <div class="form-group">
        <label class="form-control-label">Nama kelas</label>
        <input
          class="form-control"
          placeholder=""
          formControlName="name"
          type="text"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Objektif kelas</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
      <div class="form-group">
        <label class="form-control-label">Tarikh dan waktu</label>
        <input
          class="form-control"
          id="example-datetime-local-input"
          type="datetime-local"
          value="2018-11-23T10:30:00"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Bilangan sesi kelas</label>
        <input
          class="form-control"
          placeholder=""
          formControlName="email"
          type="text"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Tempat</label>
        <input
          class="form-control"
          placeholder="Tahun"
          formControlName="email"
          type="text"
        />
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      Tolak
    </button>

    <button
      class="btn btn-primary"
      type="button"
    >
      Terima
    </button>
  </div>
</ng-template>
